.img {
    display: inline-block;
    border-radius: 50%;
    border:10px solid rgb(0, 0, 0);
    box-shadow: 0px -10px 30px rgb(0, 0, 0);
      -moz-box-shadow: 0px 0px 30px rgb(0, 0, 0);
      -webkit-box-shadow: 0px 0px 30px rgb(0, 0, 0);
      -khtml-box-shadow: 0px 0px 30px rgb(0, 0, 0);
    object-fit: cover;
}


.flip-box {
    background-color: transparent;
    width: 300px;
    height: 350px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-box-front {
    /* background-color: #bbb; */
    color: black;
}

    /* Style the back side */
.flip-box-back {
    /* background-color: dodgerblue; */
    color: white;
    transform: rotateY(180deg);
}

.small {
    width: 50px;
    height: 50px;
}
.medium {
    width: 150px;
    height: 150px;
}
.large {
    width: 200px;
    height: 200px;
}
.x-large {
    width: 300px;
    height: 300px;
}