<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tokyo Tech</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <link rel="stylesheet" href="$assetsDir/css/main.css" />
        <link rel="stylesheet" href="$assetsDir/css/normalize.css" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-45076517-19"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-45076517-19', { page_path: '/#hello' });
        </script> -->

        <meta charset="utf-8" />
        <meta name="author" content="Tokyo Tech" />
        <meta name="description" content="Tokyo Tech" />
        <meta name="apple-mobile-web-app-title" content="Tokyo Tech" />
        <link rel="manifest" href="$assetsDir/site.webmanifest" />
        <meta
            name="application-name"
            content="Tokyo Tech"
        />
        <meta name="msapplication-TileColor" content="#2d89ef" />
        <meta name="theme-color" content="#ffffff" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="$assetsDir/images/AppIcons/Assets.xcassets/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="$assetsDir/images/AppIcons/transparent/icon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="$assetsDir/images/AppIcons/transparent/icon-16x16.png"
        />
        <link
            rel="mask-icon"
            href="$assetsDir/images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐱‍👤</text></svg>" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐱‍👤</text></svg>" />
    </head>
    <body>
        <main class="wrapper">
            <div id="main">{{{body}}}</div>
        </main>
        {{{lwr_resources}}}
    </body>
</html>
